/* CHAT STYLES */
* {
    font-family: Avenir, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
      Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
      Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    letter-spacing: 0.5px;
  }

  /* CUSTOM FEED */
  
  .ce-active-chat-card {
    background-color: black!important;
    height: 8rem;
    color: white;
    border: solid black !important;
    border-radius: 0px !important;
  }

  .ce-chat-title-text {
    font-size: 10px;
    text-shadow: 0px 0px 10px #23e000,
    0px 0px 20px #23e000,
    0px 0px 40px #23e000,
    0px 0px 80px #23e000;
  }
  .ce-chat-subtitle-text {
    color: white !important;
    text-shadow: 0px 0px 10px #23e000,
    0px 0px 20px #23e000,
    0px 0px 40px #23e000,
    0px 0px 80px #23e000;
  }

  .ce-chat-form-container {
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 5px;
  }
  
  .ce-text-input {
    border-radius: 6px !important;
    border: 1px solid black !important;
  }

  .ce-primary-button {
    border-radius: 50% !important;
    background-color: black !important;
    position: relative;
    bottom: 1px;
  }

  .ce-danger-button {
    background-color: white !important;
    border-radius: 22px !important;
  }

  .ce-settings {
    background-color: white !important;
  }

  .ce-autocomplete-input {
    border-radius: 6px !important;
    border: 1px solid #3b2a50 !important;
  }

  .ce-autocomplete-options {
    border-radius: 6px !important;
    border: 1px solid black !important;
    background-color: white !important;
  }

  .ce-chat-avatars-row {
    display: none !important;
  }

  .chat-feed {
    height: 100%;
    width: 100%;
    overflow: scroll;
    /* background-color: rgb(240, 240, 240); */
    background-image: url('./assets/virus2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .chat-title-container {
      width: 100%;
      height: 8rem;
      background-color:black;
      border: 5px;
      border-color: white;
      margin-bottom: 10px;
  }

  .btn-signout {
    position: relative;
    top: 1rem;
    left: 87%;
    font-size: 10px;
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 15%;
    box-shadow: 0 0 10px #23e000, 0 0 40px #23e000, 0 0 80px #23e000;
    z-index: 1;
  }

  @media only screen and (max-width: 600px) {
    .btn-signout {
      left: 79%;
    }
  }

  .chat-title {
    position: relative;
    font-weight: 800;
    font-size: 30px;
    color: white;
    letter-spacing: 0.1em;
    text-shadow: 0px 0px 10px #23e000,
    0px 0px 20px #23e000,
    0px 0px 40px #23e000,
    0px 0px 80px #23e000;
    text-align: center;  
    bottom: 1.7rem;
}

  .chat-subtitle {
      position: relative;
      color: #7554a0;
      font-weight: 600;
      font-size: 10px;
      color: white;
      text-shadow: 0px 0px 10px #23e000,
      0px 0px 20px #23e000,
      0px 0px 40px #23e000,
      0px 0px 80px #23e000;
      text-align: center;
      bottom: 1rem;
  }

  .message-row {
    float: left;
    width: 100%;
    display: flex;
    margin-left: 18px;
  }
  
  .message-block {
    width: 100%;
    display: inline-block;
  }

  .message-avatar {
    width: 44px;
    height: 44px;
    border-radius: 22px;
    color: white;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 48px;
  }

  .message {
    padding: 10px;
    font-size: 16px;
    border-radius: 6px;
    max-width: 60%;
  }

  .message-image {
    margin-right: 18px;
    object-fit: cover;
    border-radius: 6px;
    height: 30vw;
    max-height: 200px;
    max-width: 200px;
    min-height: 100px;
    min-width: 100px;
  }

  .read-receipts {
    position: relative;
    bottom: 6px;
  }

  .read-receipt {
    width: 13px;
    height: 13px;
    border-radius: 13px;
    margin: 1.5px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 14px;
  }

  .message-form-container {
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 5px;
    background-color: rgb(240, 240, 240);
    background-color: rgb(0, 29, 0);  
  }
  
  .message-form {
    overflow: hidden;
    border-radius: 6px;
    border: 1px solid black;
    background-color: white;
  }

  .message-input {
    height: 40px;
    width: calc(100% - 100px);
    background-color: white;
    border: 1px solid white;
    padding: 0px 18px;
    outline: none;
    font-size: 15px;
  }

  .image-button {
    cursor: pointer;
    padding: 0px 12px;
    height: 100%;
  }

  .send-button {
    height: 42px;
    background-color: white;
    border: 1px solid white;
    padding: 0px 18px;
    cursor: pointer;
  }

  .send-icon {
    position: relative;
    font-size: 14px;
  }

  .picture-icon {
    position: relative;
    font-size: 14px;
  }

/* Form */

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62%;
}

.wrapper {
    height: 100vh;
    width: 100%;
    background: url('./assets/virus4.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-form {
  font-size: 1.2rem;
	margin: 0 auto;
  padding: 1.5rem 2rem;
  border-radius: 0.2rem;
  /* background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5); */
  background-color: rgba(255, 255, 255, 0.4);
  width: 90%;
  display: block;
  border: transparent;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 0.3s;
  outline: none;
  margin-bottom: 25px;
}

.form {
  width: 30%;
  border-radius: 0.2rem;
  /* background-color: rgba(0, 12, 122); */
  /* backdrop-filter: blur(10px); */
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  padding-bottom: 25px;
  border-radius: 5px;
  outline: none;
}

.input-form::placeholder {
  color: black;
  text-shadow: 4px 8px 8px #23e000;
}

.title {
  text-align: center;
  color: black;
  text-shadow: 4px 8px 8px #23e000;
  margin-bottom: 4rem;
  width: 100%;
  font-size: 4rem;
}

.button {
  border-radius: 4px;
  border: none;
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(5px);
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  color: black;
  text-align: center;
  text-transform: uppercase;
  font-size: 22px;
  padding: 20px;
  width: 200px;
  transition: all 0.4s;
  cursor: pointer;
  margin: 5px;
  width: 90%;
}

.button-text {
  color: black;
  text-shadow: 4px 8px 8px #23e000;
  font-style: italic;
  font-weight: bold;
  letter-spacing: 0.5rem;
}

.error {
  text-align: center;
  color: black;
  text-shadow: 4px 8px 8px #23e000;
  font-size: 2rem;
  padding-top: 1.5rem;
}